						<!--alerta-pago-->
                        <!--espacio 24--><table border="0" cellpadding="0" cellspacing="0" style="width:100%;max-width:640px;margin:auto;background-color:#FFFFFF;"><tbody><tr><td bgcolor="#FFFFFF" width="100%" style="line-height:24px;font-size:24px">&nbsp;</td></tr></tbody></table>
						<table border="0" cellpadding="0" cellspacing="0" style="width:100%;max-width:640px;margin:auto;background-color:#DFEBED;">
							<tbody>
								<tr>
									<td style="padding:16px">
										<table border="0" cellpadding="0" cellspacing="0" style="width:100%;margin:auto;background-color:#DFEBED;">
											<tbody>
												<tr>
													<td style="font-family:Montserrat,Verdana,sans-serif;font-size:16px;line-height:24px;background-color:#DFEBED;color:#016AA6;">
														🔔 Recuerda que tienes <strong>10 días para completar el pago</strong> por transferencia<br />
													</td>
												</tr>
												<tr><td width="100%" style="line-height:8px;font-size:8px">&nbsp;</td></tr>
												<tr>
													<td style="font-family:Montserrat,Verdana,sans-serif;font-size:15px;line-height:20px;background-color:#DFEBED;color:#016AA6;">
														Si no hemos recibido dicha transferencia pasaremos a <strong>cancelar el pedido</strong> y deberás repetirlo si deseas recibirlo.
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table> 