						<!--footer-->
						<!--espacio 40--><table border="0"cellpadding="0"cellspacing="0" style="width:100%;max-width:640px;margin:auto;background-color:#FFFFFF;"><tbody><tr><td bgcolor="#FFFFFF" width="100%" style="line-height:40px;font-size:40px">&nbsp;</td></tr></tbody></table>
						<table border="0"cellpadding="0"cellspacing="0" style="width:100%;max-width:640px; margin: auto; background-color: #F5F5F5;">
							<tr>
								<td style="padding:16px">
									<table border="0"cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr><td bgcolor="#F5F5F5" width="90%" style="line-height:8px;font-size:8px">&nbsp;</td></tr>
											<tr><td bgcolor="#F5F5F5" width="90%" style="font-family:Montserrat,Verdana,sans-serif;text-align:left;vertical-align:middle;color:#4a4749;font-size:14px;line-height:20px;font-weight:bold;">¿Tienes alguna consulta?</td></tr>
											<tr><td bgcolor="#F5F5F5" width="90%" style="line-height:8px;font-size:8px">&nbsp;</td></tr>
											<tr><td bgcolor="#F5F5F5" width="90%" style="font-family:Montserrat,Verdana,sans-serif;text-align:left;vertical-align:middle;color:#4a4749;font-size:13px;line-height:20px;"> <a style="color:#016AA6;text-decoration:underline;" title="Telefono farmacia barata" href="tel:+34957944601" target="_blank">957 944 601</a> - <a style="color:#016AA6;text-decoration:underline;" title="WhatsApp farmacia barata" href="https://wa.me/34626405143/?text=Hola,%20estoy%20comprando%20en%20Farmacia%20Barata%20tengo%20una%20pregunta" target="_blank">WhatsApp</a> - <a style="color:#016AA6;text-decoration:underline;" title="email para farmacia barata" href="mailto:info@farmaciabarata.es" target="_blank">info@farmaciabarata.es</a> - Horario L-V: 9:00-14:00 h / 16:00-20:00h</td></tr>
											<tr><td bgcolor="#F5F5F5" width="90%" style="line-height:32px;font-size:32px">&nbsp;</td></tr>
											<tr><td bgcolor="#F5F5F5" width="90%" style="font-family:Montserrat,Verdana,sans-serif;text-align:center;vertical-align:middle;background-color:#F5F5F5;color:#4a4749;font-size:12px;line-height:12px;">Copyright © 2010-20230104 Farmacia Barata S.L. Todos los derechos reservados.</td></tr>
											<tr><td bgcolor="#F5F5F5" width="90%" style="line-height:16px;font-size:16px">&nbsp;</td></tr>
										</tbody>
									</table>
								</td>
							</tr>
						</table>