						<!--legales-->
						<!--espacio 16--><table border="0" cellpadding="0" cellspacing="0" style="width:100%;max-width:640px;margin:auto;background-color:#FFFFFF;"><tbody><tr><td bgcolor="#FFFFFF" width="100%" style="line-height:16px;font-size:16px">&nbsp;</td></tr></tbody></table>
						<table border="0" style="width:100%;max-width:640px;margin:auto;background-color:#FFFFFF;">
							<tbody>
								<tr>
									<td style="padding:0 16px;">
										<table border="0" style="width:100%;margin:auto;background-color:#FFFFFF;">
											<tbody>
												<tr>
													<td style="color:#4a4749;font-weight: normal;font-size:14px;line-height:22px;font-family:Montserrat,Verdana,sans-serif;">
														Puedes revisar tu pedido y descargar la factura desde el <a href="{history_url}" target="_blank" style="color:#016AA6;font-weight:normal;">"Historial de Pedidos"</a> de tu cuenta de cliente, haga click en <a href="{my_account_url}" target="_blank" style="font-family:Montserrat,Verdana,sans-serif;color:#016AA6;font-weight:normal;">"Mi Cuenta"</a> en nuestra tienda.<br />
														Tambi&eacute;n puedes consulta cualquier duda en nuestras <a href="https://www.farmaciabarata.es/content/condiciones-de-compra.html" style="font-family:Montserrat,Verdana,sans-serif;color:#016AA6;font-weight:normal;">condiciones generales de venta</a>.
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>