						<!--seguimiento-->
                        <!--espacio 16--><table border="0" cellpadding="0" cellspacing="0" style="width:100%;max-width:640px;margin:auto;background-color:#FFFFFF;"><tbody><tr><td bgcolor="#FFFFFF" width="100%" style="line-height:16px;font-size:16px">&nbsp;</td></tr></tbody></table>
						<table border="0" cellpadding="0" cellspacing="0" style="width:100%;max-width:640px;margin:auto;background-color:#FFFFFF;">
							<tbody>
								<tr>
									<td style="font-size:15px;text-align:center;color:#016AA6;font-weight:normal;font-family:Montserrat,Verdana,sans-serif;">¿Qui&eacute;res saber d&oacute;nde est&aacute; tu pedido?</td>
								</tr>
								<tr><td bgcolor="#FFFFFF" width="100%" style="line-height:16px;font-size:16px">&nbsp;</td></tr>
								<tr>
									<td style="text-align: center;">
										<a href="https://seguimiento.farmaciabarata.es/{order_name}" target="_blank" style="font-family:Montserrat,Verdana,sans-serif;font-size:14px;background-color:#016AA6;font-weight:normal;padding:0.4em 2em;color:#FFFFFF;text-decoration:none;">
											<span style="font-family:Montserrat,Verdana,sans-serif;font-size:14px;background-color:#016AA6;font-weight:normal;padding:0.4em 2em;color:#FFFFFF">Hacer seguimiento</span>
										</a>
									</td>
								</tr>
								<tr><td bgcolor="#FFFFFF" width="100%" style="line-height:16px;font-size:16px">&nbsp;</td></tr>
							</tbody>
						</table>