						<!--redes sociales-->
                        <!--espacio 40--><table border="0"cellpadding="0"cellspacing="0" style="width:100%;max-width:640px;margin:auto;background-color:#FFFFFF;"><tbody><tr><td bgcolor="#FFFFFF" width="100%" style="line-height:40px;font-size:40px">&nbsp;</td></tr></tbody></table>
						<table border="0"cellpadding="0"cellspacing="0" style="width:100%;max-width:640px;margin:auto;background-color:#FFFFFF;">
							<tr>
								<td>
									<table border="0"cellpadding="0"cellspacing="0" width="100%" style="text-emphasis:none">
										<tbody>
											<tr>
												<td bgcolor="#FFFFFF" width="90%" style="font-family:Montserrat,Verdana,sans-serif;text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#016AA6;font-size:16px;line-height:20px;font-weight:600;">
													¡Síguenos en nuestras <span style="color:#e66e7f;">redes</span> para no perderte nada!
												</td>
											</tr>
											<tr><td bgcolor="#FFFFFF" width="90%" style="line-height:16px;font-size:16px">&nbsp;</td></tr>
											<tr>
												<td bgcolor="#FFFFFF" width="90%" style="text-align:center;">
													<a href="https://www.instagram.com/farmaciabarata/" target="_blank" rel="noopener"><img src="https://www.farmaciabarata.es/img/cms/mailing/20230104/instagram.jpg" alt="instagram" width="36" height="36"></a>&nbsp; &nbsp;
													<a href="https://www.facebook.com/farmaciabarata/" target="_blank" rel="noopener"><img src="https://www.farmaciabarata.es/img/cms/mailing/20230104/facebook.jpg" alt="facebook" width="36" height="36"></a>&nbsp; &nbsp;
													<a href="https://www.tiktok.com/@farmacia.barata" target="_blank" rel="noopener"><img src="https://www.farmaciabarata.es/img/cms/mailing/20230104/tiktok.jpg" alt="tiktok" width="36" height="36"></a>&nbsp; &nbsp;
													<a href="https://es.linkedin.com/company/farmaciabarata" target="_blank" rel="noopener"><img src="https://www.farmaciabarata.es/img/cms/mailing/20230104/linkedin.jpg" alt="linkedin" width="36" height="36"></a>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</table>